# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [398]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [399]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [400]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [401]:
df.shape

(48895, 16)

Identify the numerical features:

In [402]:
num_feat = df.select_dtypes(include=['number']).columns
num_feat

Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

Identify the categorical features

In [403]:
num_feat = df.select_dtypes(include=['object']).columns
num_feat

Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object')

What are the top 5 questions this dataset might help answer?

1.   Where are the most popular areas for AirBnB listing?
2.   How do prices vary by location and room type?
3.   What factors influence listing popularity?
4.   How active are hosts and how many listings do they manage?
5.   How available are listings throughout the year?

## B. Structuring

Check if the dataset has proper column types

In [404]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Check if the dataset has index issues

In [405]:
df.index

RangeIndex(start=0, stop=48895, step=1)

Check if the dataset has duplicated rows

In [406]:
df.duplicated().sum()

np.int64(0)

Convert columns to correct types (e.g., dates → datetime).

In [407]:
df['last_review'] = pd.to_datetime(df['last_review'])
df['last_review']

0       2018-10-19
1       2019-05-21
2              NaT
3       2019-07-05
4       2018-11-19
           ...
48890          NaT
48891          NaT
48892          NaT
48893          NaT
48894          NaT
Name: last_review, Length: 48895, dtype: datetime64[ns]

Identify at least one structural issue and describe how to fix it.

In [408]:
df['host_id'].duplicated().sum()

np.int64(11438)

So from the code above, it can be seen that there are multiple rows with the same owner. The dataset having the host_id is enough as an identifier for the owner info, so having the host_name is redundant and may lead to issues when said owner decides to change the name for the host requiring the dataset to change each row of listings they own.

## C. Cleaning

Check for missing values

In [409]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [410]:
df['minimum_nights'].describe()

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Check for invalid values (e.g., price ≤ 0)

In [411]:
invalid_latitude_count = df[(df['latitude'] < -90) | (df['latitude'] > 90)].shape[0]
print(f"Invalid latitude values: {invalid_latitude_count}")

invalid_longitude_count = df[(df['longitude'] < -180) | (df['longitude'] > 180)].shape[0]
print(f"Invalid longitude values: {invalid_longitude_count}")

invalid_price_count = df[df['price'] <= 0].shape[0]
print(f"Price values less than or equal to 0: {invalid_price_count}")

invalid_minimum_nights_count = df[df['minimum_nights'] <= 0].shape[0]
print(f"Minimum nights values less than or equal to 0: {invalid_minimum_nights_count}")

invalid_reviews_per_month_count = df[df['reviews_per_month'] < 0].shape[0]
print(f"Reviews per month values less than 0: {invalid_reviews_per_month_count}")

invalid_availability_count = df[(df['availability_365'] < 0) | (df['availability_365'] > 365)].shape[0]
print(f"Availability_365 values outside 0-365 range: {invalid_availability_count}")

Invalid latitude values: 0
Invalid longitude values: 0
Price values less than or equal to 0: 11
Minimum nights values less than or equal to 0: 0
Reviews per month values less than 0: 0
Availability_365 values outside 0-365 range: 0

Apply a missing-value strategy (drop, fill, or flag)

In [412]:
df['name'] = df['name'].fillna('Unknown')
df['host_name'] = df['host_name'].fillna('Unknown')
df['last_review'] = df['last_review'].fillna('N/A')
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

print(df.isnull().sum())

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

Apply an outlier-handling strategy

In [413]:
min_nights_99th_percentile = df['minimum_nights'].quantile(0.99)
df['minimum_nights'] = np.where(df['minimum_nights'] > min_nights_99th_percentile, min_nights_99th_percentile, df['minimum_nights'])

print(f"Minimum nights capped at: {min_nights_99th_percentile}")
print(df['minimum_nights'].describe())

Minimum nights capped at: 45.0
count    48895.000000
mean         6.116760
std          9.244957
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max         45.000000
Name: minimum_nights, dtype: float64

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [414]:
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']
df['review_rate_per_month'] = df['number_of_reviews'] / df['reviews_per_month']
price_75th_percentile = df['price'].quantile(0.75)
df['is_expensive'] = df['price'] > price_75th_percentile

Create 1 aggregated summary table

(e.g. average price per neighborhood, number of hosts per borough)

In [415]:
aggregated_table = df.groupby('neighbourhood_group').agg(
    average_price=('price', 'mean'),
    number_of_hosts=('host_id', 'nunique')
).reset_index()

print(aggregated_table)

  neighbourhood_group  average_price  number_of_hosts
0               Bronx      87.496792              789
1            Brooklyn     124.383207            15966
2           Manhattan     196.875814            16578
3              Queens      99.517649             3983
4       Staten Island     114.812332              256

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [416]:
invalid_price_count = df[df['price'] <= 0].shape[0]
print(f"Price values less than or equal to 0: {invalid_price_count}")

invalid_minimum_nights_count = df[df['minimum_nights'] < 1].shape[0]
print(f"Minimum nights values less than or equal to 1: {invalid_minimum_nights_count}")

invalid_host_id_count = df[df['host_id'].isnull()].shape[0]
print(f"Invalid host_id values: {invalid_host_id_count}")

min_valid_price = df.loc[df['price'] > 0, 'price'].min()
print(f"Minimum valid price: {min_valid_price}")
df.loc[df['price'] <= 0, 'price'] = min_valid_price

invalid_price_count = df[df['price'] <= 0].shape[0]
print(f"Price values less than or equal to 0: {invalid_price_count}")

Price values less than or equal to 0: 11
Minimum nights values less than or equal to 1: 0
Invalid host_id values: 0
Minimum valid price: 10
Price values less than or equal to 0: 0

## F. Publishing

Select final columns for publication.

In [417]:
final_columns = df.columns.tolist()
print(final_columns)

['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'price_per_minimum_night', 'review_rate_per_month', 'is_expensive']

Export cleaned dataset as "cleaned_airbnb.csv"

In [419]:
df.to_csv('cleaned_airbnb.csv', index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [420]:
average_price_per_neighbourhood_group = df.groupby('neighbourhood_group')['price'].mean().reset_index()
print("Average price per neighbourhood group:")
display(average_price_per_neighbourhood_group)

Average price per neighbourhood group:

  neighbourhood_group       price
0               Bronx   87.505958
1            Brooklyn  124.387684
2           Manhattan  196.876275
3              Queens   99.517649
4       Staten Island  114.812332